<div class="table">
  <app-searchbar (onFilter)="searchBar($event)"></app-searchbar>
  <p-button label="Add car" size="small" />
  <p-table #dt [value]="cars"
           [globalFilterFields]="['make','model','year','color']"
           styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="make">Make <p-sortIcon field="make"></p-sortIcon></th>
        <th pSortableColumn="model">Model <p-sortIcon field="model"></p-sortIcon></th>
        <th pSortableColumn="year">Year <p-sortIcon field="year"></p-sortIcon></th>
        <th pSortableColumn="color">Color <p-sortIcon field="color"></p-sortIcon></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-car>
      <tr>
        <td>{{car.make}}</td>
        <td>{{car.model}}</td>
        <td>{{car.year}}</td>
        <td>{{car.color}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

